In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score

In [4]:
file_path = 'tripadvisor_hotel_reviews.csv' 
tripadvisor_reviews = pd.read_csv(file_path)

In [5]:
tripadvisor_reviews

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

In [6]:
tfidf = TfidfVectorizer(stop_words='english')
X = tfidf.fit_transform(tripadvisor_reviews['Review'])
y = tripadvisor_reviews['Rating']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [9]:
y_pred = svm.predict(X_test)

In [10]:
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

In [11]:
print(f'Accuracy: {accuracy}')
print('Classification Report:')
print(report)

Accuracy: 0.6357648206879727
Classification Report:
              precision    recall  f1-score   support

           1       0.77      0.62      0.69       292
           2       0.44      0.47      0.46       333
           3       0.42      0.28      0.33       432
           4       0.55      0.53      0.54      1252
           5       0.73      0.83      0.78      1790

    accuracy                           0.64      4099
   macro avg       0.58      0.55      0.56      4099
weighted avg       0.62      0.64      0.63      4099

In [2]:
import pandas as pd

# Load the dataset
file_path ='tripadvisor_hotel_reviews.csv' 
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [3]:
# Define a function to convert ratings to sentiment labels
def rating_to_sentiment(rating):
    if rating >= 4:
        return 'positive'
    elif rating == 3:
        return 'neutral'
    else:
        return 'negative'

# Apply the function to create a new column 'Sentiment'
data['Sentiment'] = data['Rating'].apply(rating_to_sentiment)

# Display the first few rows with the new 'Sentiment' column
data.head()

                                              Review  Rating Sentiment
0  nice hotel expensive parking got good deal sta...       4  positive
1  ok nothing special charge diamond member hilto...       2  negative
2  nice rooms not 4* experience hotel monaco seat...       3   neutral
3  unique, great stay, wonderful time hotel monac...       5  positive
4  great stay great stay, went seahawk game aweso...       5  positive

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.metrics import classification_report

# Split the data into training and testing sets
X = data['Review']
y = data['Sentiment']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize TF-IDF Vectorizer
tfidf = TfidfVectorizer(stop_words='english', max_df=0.95, min_df=2)

# Fit and transform the training data, transform the testing data
X_train_tfidf = tfidf.fit_transform(X_train)
X_test_tfidf = tfidf.transform(X_test)

# Train the SVM model
svm = SVC(kernel='linear')
svm.fit(X_train_tfidf, y_train)

# Predict the sentiments for the test set
y_pred = svm.predict(X_test_tfidf)

# Print the classification report
print(classification_report(y_test, y_pred))

# Combine test reviews with their predicted sentiments for visualization
results = pd.DataFrame({'Review': X_test, 'Actual Sentiment': y_test, 'Predicted Sentiment': y_pred})
results.head()

              precision    recall  f1-score   support

    negative       0.78      0.78      0.78       625
     neutral       0.48      0.22      0.30       432
    positive       0.90      0.97      0.93      3042

    accuracy                           0.86      4099
   macro avg       0.72      0.66      0.67      4099
weighted avg       0.84      0.86      0.84      4099

,Review,Actual Sentiment,Predicted Sentiment
10726,not recommend hotel did reviewers actually sta...,negative,negative
14919,"barcelona rocks, stayed hotel jazz girlfriend ...",positive,positive
19098,ok hotel good location stayed night way beijin...,neutral,neutral
2450,great service nice pool ok beach lovely ground...,positive,positive
960,surprising treat spent weekend july 15/16 2006...,positive,positive